/* common style */
* {
    margin: 0;
    padding: 0;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-primary {
    background-color: #52C303;
    color: white;
    border-radius: 8px;
    padding: 20px 32px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* header style */
.header {
    background-image: linear-gradient(0deg, rgba(9, 9, 9, 1), rgba(16, 16, 16, 0)), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-content {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.sub-title {
    font-size: 32px;
    font-weight: 600;
    color: white;
}

.main-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin: 18px 0 24px 0;
}

.text {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 32px;
}

/* Navbar style */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 1280px;
}

.logo a {
    font-size: 35px;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.logo span {
    color: #52C303;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #52C303;
}
.nav-btn a{
    text-decoration: none;
}

/* Brand Food style */

.brands-food {
    max-width: 1320px;
    margin: 0 auto;
    padding: 130px 0;
    text-align: center;
}

.brands-sub {
    font-size: 24px;
    font-weight: 600;
    color: #101010;
    margin-bottom: 16px;
}

.brands-heading {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #101010;
    max-width: 690px;
    margin: 0 auto;
}

.cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 48px 0 64px 0;
}

.card {
    display: flex;
    flex-direction: column;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

.card span {
    background-color: rgba(82, 195, 3, 0.15);
    padding: 14px 32px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #101010;
    margin: 32px auto;
    max-width: 180px;

}

.card h3 {
    font-size: 40px;
    font-weight: 600;
    color: #101010;
    margin: 24px auto;
}

.card p,
.columns p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #101010;
}

/* Ads section style */
.ads {
    max-width: 1320px;
    margin: 130px auto;
}

.ads-heading {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #101010;
    max-width: 690px;
    margin-bottom: 20px;
}

.ads-container {
    display: flex;
}

.ads-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    text-align: center;
    background: #ffffff;
    padding: 30px;
}

.columns {
    width: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Footer style */

.footer {
    background-image: url('../assets/social-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr-line {
    border-top: 1px solid rgba(16, 16, 16, 0.2);
    border-bottom: 1px solid rgba(16, 16, 16, 0.2);
    padding: 30px 0;
    margin: 32px 0;
}

.hr-line p {
    font-size: 32px;
    font-weight: 600;
    color: #101010;
}

.footer-container p:nth-child(2) {
    color: red;
    margin-top: 40px;
}