/* common style */
*{
    margin: 0;
    padding: 0;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn-primary{
    background-color: #52C303;
    color: white;
    border-radius: 8px;
    padding: 20px 32px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* header style */
.header {
    background-image: linear-gradient(0deg, rgba(9, 9, 9, 1), rgba(16, 16, 16, 0)),url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content{
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    color: white;
}
.sub-title{
    font-size: 32px;
    font-weight: 600;
    color: white;
}
.main-title{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin: 18px 0 24px 0;
}
.text{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 32px;
}